body{
    background-color: rgb(24, 24, 24);
    color: blue;
}
h1{
    text-align: center;
}

.mainBox{
    max-width: 600px;
    margin: 0px auto;
}
.box{
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
    margin: 1.66%;
    border-radius: 20px;
}
.line{
    width: 100%;
    text-align: center;
}
@media screen and (max-width:600px) {
    .mainBox{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .box{
        margin: 10px auto;
    }
}